.mainHeader {
    height: 100vh;
    min-height: 40em;
    background-image: url("../../images/butterflybg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

#references {
    width: 100%;
    text-align: center;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
}

#helpbutton {
    position: fixed;
    right: 3vw;
    bottom: 3vh;
}