.mainHeader {
    height: 100vh;
    min-height: 40em;
    background-image: url("../../images/butterflybg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

#skillsList {
    margin-left: 36%;
    margin-right: 44%;
    text-align: center;
    list-style: none;
}

#references {
    text-align: center;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

#btnToggle {
    margin: 1%;
}

#hobbies {
    display: none;
}

#hobbiesList {
    list-style: none;
}

.errorAct {
    color: rgb(255, 0, 191);
}

#btnAct {
    margin: 1%;
}

#helpbutton {
    position: fixed;
    right: 3vw;
    bottom: 3vh;
}